
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">
		질문등록
	</h5>

<!-- 2월 16일 form 태그의 action 부분 생략 : 생략시 action 의 값이 url의 요청으로 넘어감 , 
	action = "/question/create"			<== 글 생성 
	action = "/question/modify/2"		<== 글 수정 
	위 두 항목을 한꺼번에 처리함. 
	
	<form th:action="@{/question/create}" th:object="${questionForm}" method="post"> 
	
	-->
	
	<!--  action 이 생략되면 csrf 설정값을 hidden으로 명시적으로 넣어 주어야 함.  -->
	
    <form th:object="${questionForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />	
	
	
		<!--  오류 메세지 출력 부분  -->		
		<!-- 외부 파일에서 import  -->
		<div th:replace="~{form_errors::formErrorsFragment}"></div>
		
	
		<div class="mb-3">
			<label for="subject" class="form-label"> 제목 </label>
			
			<input type="text" name="subject" th:field="*{subject}" id="subject" class="form-control"> 
		</div>
	
		<div class="mb-3"> 
			<label for="content" class="form-label"> 내용</label>
			<textarea name="content" th:field="*{content}" id= "content" class="form-control" rows=10></textarea>
		</div>
		
		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>
</html>