
<html layout:decorate="~{layout}">


<div layout:fragment="content" class="container my-3">
	<table class ="table">
		<thead class = "table-dark">	<!--  제목을 처리  -->
		<tr class="text-center">
			<th> 번호 </th>
			<th style="width:50%"> 제목 </th>	
			<th>글쓴이</th>		<!-- 2월 16일 컬럼 추가  -->
			<th> 작성일시 </th>
			
		 </tr>
		 </thead>
		 
		 <tbody>	<!--  테이블의 내용를 출력 블락  -->
		 
		 <!--  타임리프(Thymeleaf) 를 사용해서 루프 돌려서 출력 	 
		 <tr th:each="question : ${questionList}"> 
		 	<td>
		 	    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
		 	 </td>
		 	<td th:text="${question.createDate}"> </td>
		 </tr>
		--> 
		
		<!-- Thymeleaf 에서 링크를 처리 : @{ } -->
		<!-- | String + 변수 |  : 문자열과 변수를 연결 -->
		
	<!-- 	<tr th:each="question, loop : ${questionList}">   -->
		
		<tr class="text-center" th:each="question, loop : ${paging}">
			<!-- 
			<td th:text="${loop.count}"> 번호  </td>
			 -->
			 
			 <!--  
			 	번호 = 전체게시물수 - (현재페이지*페이징당게시물수) - 나열인덱스
			  -->
			 
			 <td th:text="${paging.getTotalElements -(paging.number*paging.size)-loop.index }"> 번호  </td>
			
		 	<td class="text-start"> <a th:href="@{|/question/detail/${question.id}|}"> [[${question.subject}]] </a> 
		 		    
		 		    <span class="text-danger small ms-2"
                        th:if="${#lists.size(question.answerList) > 0}" 
                        th:text="${#lists.size(question.answerList)}">
                    </span>
		 	
		 	</td>
		 	
		 	<!-- 2월 16일 컬럼 추가 -->
		 	<td>
		 		<span th:if="${question.author != null}" th:text="${question.author.username}"></span>		 	
		 	</td>
		 	
		 	<td> [[ ${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}]] </td>
		 </tr>
		
		</tbody>
	 </table>
	 
	 <!--  페이징 처리 시작  -->
	 <div th:if="${!paging.isEmpty()}">
	 	<ul class="pagination justify-content-center">
	 	
	 		<!-- 이전 페이지가 존재하지 않으면 이전에 링크를 비활성화  -->
	 		<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">	
	 			
	 			<!-- paging.number : 현재페이지  -->
	 			<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
	 			이전 </a>	
	 		</li>
	 		
	 		<!-- 첫 페이지 부터 마지막 페이지까지 루프를 돌려서 출력  -->
	 		<li th:each="page : ${#numbers.sequence(0,paging.totalPages-1)}"
	 			th:if="${page >= paging.number-5 and page <= paging.number+5}"
	 			th:classappend="${page==paging.number} ? 'active'" class="page-item"
	 		>
	 		
	 			<a th:text=${page} class="page-link" th:href="@{|?page=${page}|}"></a>
	 		</li>
	 		
	 		<!-- 다음을 처리하는 블락 --> 
	 		<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
	 			<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
	 				다음
	 			</a>
	 		</li>
	 	</ul>
	 </div> 
	 <!--  페이징 처리 끝  -->
	 
	 <!-- 새글 등록 버튼    -->
	 <a th:href="@{/question/create}" class="btn btn-primary"> 질문 등록하기 </a>
	 
	 
	 </div>
	

</html>