<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1> 질문 테이블의 리스트를 출력하는 View 페이지 입니다. </h1>
	<hr> 
	<table>
		<tr>
			<th> 제목 </th>
			<th> 내용 </th>
			<th> 작성일시 </th>
		 </tr>
		 
		 <!--  타임리프(Thymeleaf) 를 사용해서 루프 돌려서 출력  	 
		 <tr th:each="question : ${questionList}"> 
		 	<td th:text="${question.subject}"> </td>
		 	<td th:text="${question.content}"> </td>
		 	<td th:text="${question.createDate}"> </td>
		 </tr>
		-->	
		
		<tr th:each="question : ${questionList}"> 
		 	<td> [[${question.subject}]] </td>
		 	<td> [[${question.content}]] </td>
		 	<td> [[${question.createDate}]] </td>
		 </tr>
		
		
	 </table>
	
</body>
</html>